extends ../layouts/base

block nav
	+nav-bar("contact")

block content
	div.title
		h1 Contact
	iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.4700764083364!2d114.17106476535062!3d22.335872647246106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340407340422f691%3A0xccd88db952178b6b!2sCity+University+Of+Hong+Kong+Academic+1%2C+Kowloon+Tong%2C+Hong+Kong!5e0!3m2!1sen!2s!4v1478406550747', width='600', height='400', frameborder='0', style='border:0', allowfullscreen)