include ../mixins/flash-messages
include ../mixins/nav-bar

extends _bootstrap

block variables
    - var title = 'Atoms to System Lab'

append styles
    +bootswatch("superhero")
    link(href='/css/style.css', rel='stylesheet')

block body
    block nav
    .container.theme-showcase(role='main')
        block content